.Sensores{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 400px 5px 400px 5px;
}

.container-sensores{
    width: 100%;
    height: 90vh;
}

.container-datos{
    width: 100%;
    height: 60%;
}