input{
    background-color: #ECECEC;
    border-radius: 7px;
    border: none;
    border-bottom: solid 3px #115CB4;
    padding: 10px; 
    padding-left: 20px;
    font-size: 16px;
    box-sizing: border-box;
}