
.button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #115CB4;
    transition: background-color 0.3s;
    font-weight: bold; /* Hace la letra más gruesa */
    display: flex; /* Hace que el contenedor use flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  button:hover {
    background-color: #e0e0e0;
  }